# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.
# You'll need docker-compose.orverride.yml file for env variables and something more than it.
services:
  catalog.db:
    image: mongo:7.0.14
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=123456
    volumes:
      - ./db/catalogdb_data:/data/db
    ports:
      - 27017:27017
  basket.db:
    image: postgres:16.4
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=BasketDb
    volumes:
      - ./db/basket_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
  catalog.api:
    image: 1811063460/catalog.api:latest
    build:
      context: .
      dockerfile: Services/Catalog/API/Dockerfile
    depends_on:
      - catalog.db
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=mongodb://root:123456@catalog.db:27017
      - MongoDb__Host=catalog.db
      - MongoDb__Credentials__UserName=root
      - MongoDb__Credentials__Password=123456
    ports:
      - "6000:8080"
      - "6060:8081"
  basket.api:
    image: 1811063460/basket.api:latest
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile
    depends_on:
      - basket.db
      - distributedcache
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8082
      - ASPNETCORE_HTTPS_PORTS=8083
      - ConnectionStrings__Marten=Server=basket.db;Port=5432;Database=BasketDb;User Id=postgres;Password=123456;Include Error Detail=true
      - ConnectionStrings__Redis=distributedcache
    ports:
      - "6001:8082"
      - "6061:8083"
  distributedcache:
    image: redis
    container_name: distributedcache
    ports:
      - "6379:6379"
    volumes:
      - ./db/redis_data:/data
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    environment:
      - REDIS_HOSTS=BasketCache:distributedcache:6379
      - HTTP_USER=root
      - HTTP_PASSWORD=secret
    ports:
      - "7001:8081"
    depends_on:
      - distributedcache

volumes:
  catalogdb_data:
  basket_data:
  redis_data: